/* Flexbox layout for positioning */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  padding: 10px;
  background-color: #EBF1F2;
}

aside {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #AAC8CD;
}

header, footer {
  padding: 20px;
  background-color: #ccc;
  text-align: center;
}
